:root {
    --color: darkblue;
    --width: 150px;
    --padding: 2px;
    --box-shadow: 0 0 30px gray;
    --height: auto;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    border: 1px solid steelblue;
    box-shadow: var(--box-shadow);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: var(--height);
}

h1 {
    color: var(--color);
}

img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

p {
    padding: 0px;
}

footer {
    margin-top: 1em;
    border-top: 1px #000;
    text-align: center;
}