* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: darkblue;
    --width: 150px;
    --padding: 2px;
    --box-shadow: 0 0 30px gray;
    --height: auto;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    border: 1px solid steelblue;
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 10px 0;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    /*margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333; */

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    text-align: center;
}

aside img {
    width: 200px;
    height: var(--height);
}

h1 {
    color: var(--color);
    border-bottom: 1px solid #333;
}

img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

p {
    padding: 0px;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    color: #fff;
    margin-top: 2em;
    margin-bottom: 2rem;
    border-top: 1px #000;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #3e3e3e;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    align-items: center;
}